@media screen and (min-width: $mobile-start) and (max-width: $mobile-end) {
  .component-4 {
    position: relative;
    width: 100%;
    height: 403px;
  }

  .address-div {
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 270px;
    background-color: $primary-red;
    mix-blend-mode: hard-light;

    h1 {
      @include montserrat(24px, bold, white);
      margin-top: 40px;
      margin-left: 6px;
      margin-bottom: 28px;
    }

    .hole {
      margin-left: 5px;
      width: 42.5px;
      height: 42.5px;
      border-radius: 100%;
      background-color: gray;
      margin-bottom: 26px;

      i {
        font-size: 30px;
      }
    }

    .comp-4-address {
      width: 190px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 16px;
      margin-bottom: 28px;

      .comp-4-desktop-p {
        display: none;
        @include opensans(16px, 300, white);
        line-height: 20px;
        width: 200px;
        text-align: center;
      }

      .comp-4-tablet-p {
        @include opensans(14px, 300, white);
        line-height: 20px;
        width: 170px;
        text-align: center;
      }
    }

    .direction {
      @include montserrat(12px, 400, white);
      margin: 0 0 20px 0px;
    }

    .comp-4-icons {
      div {
        width: 43px;
        height: 43px;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }

      i {
        font-size: 25px;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
