.content-bottom {
  height: 100%;

  i {
    padding: 10px 11px;
    font-size: 21px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
  }

  i:hover {
    color: black;
    cursor: pointer;
  }

  .pin {
    border-right: none;
  }
}
